.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Preloader*/
.preloader {
  background: #000 url("/preloader.gif") no-repeat center center;
  background-size: 25%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.main {
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 0;
  left: 8vw;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #131313;
  justify-items: flex-start;
  align-items: center;
  height: 100%;
}

.grid > div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid img {
  object-fit: cover;
}

.grid > div:first-of-type {
  padding: 50px 8vw;
}

.grid h1 {
  max-width: 250px;
  line-height: 120%;
  font-size: 3rem;
}

.grid p {
  color: #363636;
}

.socials {
  margin-top: 30px;
}

.socials svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.socials svg * {
  transition: 300ms ease-in-out;
}

.socials svg:hover * {
  fill: #007AB9;
}

.socials svg:hover path {
  fill: white !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    grid-template-columns: 1fr;
    margin-top: 100px;
    height: fit-content;
  }
  .grid >div:first-of-type {
    grid-area: 2;
  }
  .grid >div:last-of-type {
    height: 300px;
  }
  .grid h1 {
    line-height: 130%;
    font-size: 2rem;
    margin: 0;
  }
  .socials svg {
    width: 30px;
    height: 30px;
  }
}

/*#761B18*/
/*#007AB9*/